.websitebackground {background-color: rgb(29, 27, 27);
background-image: url();

}

h1, p {color: azure; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif}

.hlavninadpis {background: #22C1C3; background:  linear-gradient(270deg,rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%); padding: 10px;}

.wrapper {
    width: 100vw;
    max-width: 100%;
    overflow-x: hidden;
    margin: 0 auto;
    padding: 0;
}

.iframecontent {
    width: 100vw;
    height: 100vh;
    border: none;
}

.mainheader {
    background: linear-gradient(270deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%); 
    padding: 10px;
    width: 100%;
    max-height: 80px;
    height: 10vh;
    text-align: left;
    display: flex;
    align-items: center;
    overflow: visible;
}

.textmainheader {
    color: azure;
    font-size: clamp(12px, 5vw, 24px);
    white-space: nowrap;
    padding-left: 4vh;
}

.input-container-redirect {
    margin-left: auto; /* Push the input to the right */
    margin-right: 20px;
}

.input-container-redirect input {
    padding-right: 40px; /* Add some padding for aesthetics */
}