.websitebackground {background-color: rgb(255, 255, 255);}
p, ul, li, th, tr {color: rgb(0, 0, 0); font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif}
h1, h2, h3, h4, h5, h6, hr {color: rgb(0, 110, 146); font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif}
code, em {color: rgb(37, 40, 40); font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif}
table {color: rgb(0, 110, 146); font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif}